.rbc-event {
	padding: 0 !important;
}

.rtl-cwhad8-MuiDateCalendar-root {
	width: 100% !important;
}

.rbc-header {
	text-align: center !important;
	font-size: 1rem !important;
}

.rbc-header span,
.rbc-agenda-date-cell,
.rbc-agenda-time-cell {
	font-size: 0.8rem;
}

.rbc-calendar {
	width: 59rem !important;
}