.rtl-1pdjj8j-MuiPaper-root-MuiDrawer-paper {
  width: 35rem !important;
}
.rtl-1pdjj8j-MuiPaper-root-MuiDrawer-paper
  .MuiAvatar-img.rtl-1v6zmq-MuiAvatar-img {
  width: 100px;
  height: 100px;
}

.MuiAvatar-root.MuiAvatar-circular.rtl-1sgjtl-MuiAvatar-root {
  width: 100px;
  height: 100px;
}
