.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd {
  background-color: white;
}
.MuiSvgIcon-root.MuiSvgIcon-fontSizeInherit {
  font-size: 1.5rem !important;
  color: #88cb60;
}
